@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

$gray200 :#F4F5F7;
$gray300:#E5E8ED;
$gray400:#D7DADD;
$gray600: #9A9CA5;
$gray700:#787A80;
$gray800: #424551;
$gray900:#1E212C;
$blue: #0d168b;
$white:#fff;

.container-h1{
    color: $gray900;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
}

.carousel-indicators { 
    button[data-bs-target]{
    width: 100px;
}
}

.carousel-indicators { 
    button:not(.active){
        img {
        opacity: 0.6;
}
}
}

.carousel-indicators {
    img{
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}
}

.carousel-inner {
    img {
        height: 500px;
        object-fit: cover;
    }
}

#carouselExampleIndicators {
    .arrows {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $white;
        color: $gray800;
        padding-top: 15px;

    }
}

.project-goal {
    margin-top: 240px;
}

.project-goal__h2 {
    padding-bottom: 40px;
    color:$gray900;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
}

.project-goal__p {
    color: $gray800;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

}

.list-border {
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    padding: 40px 60px;
    width: 495px;
    height: 316px;
}

.list-border {
    li {
        padding-bottom: 16px;
    }
}

.headings {
    padding-right: 32px;

    li {
        color: $gray900;
        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
    }
}

.subheadings {
    li {
        color: $gray700;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; 
    }
}

.decisions {
    background-color: $gray200;
    margin-top: 120px;
    height: 570px;
     
    li {
        padding-bottom: 20px;

        span {
            color: $gray800;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%; 
            padding-left: 16px;
        }
}
}

.decisions .big__img {
    border-radius: 4px;
    padding-top: 60px;
}

.decisions__h3 {
    color: $gray900;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 60px;
}


.project-item {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    background-color: $white;
    border-style: none;
    padding-right: 30px;

    img {
        object-fit: cover;
    }
}

#owl-demo .item{
    margin: 3px;
}
  
#owl-demo .item img{
    display: block;
    width: 390px;
    height: 345px;
}

.project-work__h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: $gray900;
    padding-top: 120px;
    padding-bottom: 60px;
}

.carousel-inner.multi-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 items per row */
  }

.carousel-inner.multi-item .carousel-item {
    padding: 0;
  }

.carousel-inner.multi-item .carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center images within each item */
  }
.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $gray900;
    padding-bottom: 4px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray700;
}

.view-project-btn {
    border: 1px solid $blue;
    border-radius: 4px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.project-item:hover .view-project-btn {
    opacity: 1;
    display: inline;
    visibility: visible;
}

.part-1 {
    transition: height .4s;
    height: 345px;
}

.project-item:hover .part-1 {
    /* height: 163px; */
    transform: translateY(-68px); 
}

.btn__a {
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $blue;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
}

.browse-projects-span {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: $gray900;
    padding-right: 40px;
}

.portfolio-btn {
    background-color: $blue;
    border-radius: 4px;
    display: inline-block;
    
    a {
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $white;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
}

.explore-us {
    padding-top: 80px;
    padding-bottom: 120px;
}

