@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}

.container-h1 {
  color: #1E212C;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
}

.carousel-indicators button[data-bs-target] {
  width: 100px;
}

.carousel-indicators button:not(.active) img {
  opacity: 0.6;
}

.carousel-indicators img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
  border-radius: 4px;
}

.carousel-inner img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#carouselExampleIndicators .arrows {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #424551;
  padding-top: 15px;
}

.project-goal {
  margin-top: 240px;
}

.project-goal__h2 {
  padding-bottom: 40px;
  color: #1E212C;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
}

.project-goal__p {
  color: #424551;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.list-border {
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  padding: 40px 60px;
  width: 495px;
  height: 316px;
}

.list-border li {
  padding-bottom: 16px;
}

.headings {
  padding-right: 32px;
}
.headings li {
  color: #1E212C;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.subheadings li {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.decisions {
  background-color: #F4F5F7;
  margin-top: 120px;
  height: 570px;
}
.decisions li {
  padding-bottom: 20px;
}
.decisions li span {
  color: #424551;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  padding-left: 16px;
}

.decisions .big__img {
  border-radius: 4px;
  padding-top: 60px;
}

.decisions__h3 {
  color: #1E212C;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.project-item {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  background-color: #fff;
  border-style: none;
  padding-right: 30px;
}
.project-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 390px;
  height: 345px;
}

.project-work__h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  padding-top: 120px;
  padding-bottom: 60px;
}

.carousel-inner.multi-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 3 items per row */
}

.carousel-inner.multi-item .carousel-item {
  padding: 0;
}

.carousel-inner.multi-item .carousel-item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center images within each item */
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  padding-bottom: 4px;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.view-project-btn {
  border: 1px solid #0d168b;
  border-radius: 4px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.project-item:hover .view-project-btn {
  opacity: 1;
  display: inline;
  visibility: visible;
}

.part-1 {
  transition: height 0.4s;
  height: 345px;
}

.project-item:hover .part-1 {
  /* height: 163px; */
  transform: translateY(-68px);
}

.btn__a {
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0d168b;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
}

.browse-projects-span {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
  padding-right: 40px;
}

.portfolio-btn {
  background-color: #0d168b;
  border-radius: 4px;
  display: inline-block;
}
.portfolio-btn a {
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
}

.explore-us {
  padding-top: 80px;
  padding-bottom: 120px;
}/*# sourceMappingURL=project.css.map */